<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>size</key>
	<dict>
		<key>width</key>
		<integer>300</integer>
		<key>height</key>
		<integer>300</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>x</key>
		<real>3.5</real>
		<key>y</key>
		<real>296.5</real>
	</dict>
	<key>12</key>
	<dict>
		<key>x</key>
		<real>3.5</real>
		<key>y</key>
		<real>199.5</real>
	</dict>
	<key>13</key>
	<dict>
		<key>x</key>
		<real>3.5</real>
		<key>y</key>
		<real>101.5</real>
	</dict>
	<key>14</key>
	<dict>
		<key>x</key>
		<real>3.5</real>
		<key>y</key>
		<real>3.5</real>
	</dict>
	<key>21</key>
	<dict>
		<key>x</key>
		<real>101.5</real>
		<key>y</key>
		<real>296.5</real>
	</dict>
	<key>22</key>
	<dict>
		<key>x</key>
		<real>101.5</real>
		<key>y</key>
		<real>199.5</real>
	</dict>
	<key>23</key>
	<dict>
		<key>x</key>
		<real>101.5</real>
		<key>y</key>
		<real>101.5</real>
	</dict>
	<key>24</key>
	<dict>
		<key>x</key>
		<real>101.5</real>
		<key>y</key>
		<real>3.5</real>
	</dict>
	<key>31</key>
	<dict>
		<key>x</key>
		<real>199.5</real>
		<key>y</key>
		<real>296.5</real>
	</dict>
	<key>32</key>
	<dict>
		<key>x</key>
		<real>199.5</real>
		<key>y</key>
		<real>199.5</real>
	</dict>
	<key>33</key>
	<dict>
		<key>x</key>
		<real>199.5</real>
		<key>y</key>
		<real>101.5</real>
	</dict>
	<key>34</key>
	<dict>
		<key>x</key>
		<real>199.5</real>
		<key>y</key>
		<real>3.5</real>
	</dict>
	<key>41</key>
	<dict>
		<key>x</key>
		<real>296.5</real>
		<key>y</key>
		<real>296.5</real>
	</dict>
	<key>42</key>
	<dict>
		<key>x</key>
		<real>296.5</real>
		<key>y</key>
		<real>199.5</real>
	</dict>
	<key>43</key>
	<dict>
		<key>x</key>
		<real>296.5</real>
		<key>y</key>
		<real>101.5</real>
	</dict>
	<key>44</key>
	<dict>
		<key>x</key>
		<real>296.5</real>
		<key>y</key>
		<real>3.5</real>
	</dict>
</dict>
</plist>
